<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>

     <h1>Players</h1>

     <table border="1" width = "100%" style="align-items: center; margin-top: 100px;" >
        <tr style="align-items: center;">
          <th>Name</th>
          <th>Shirt Number</th>
          <th>Region</th>
          <th>Matches Played</th>
          <th> Total Runs</th>
          <th> Total Wickets</th>
        </tr>
        <% for (let p of player) { %>
    
            <tr>
                <td><%= p.name %> </td>
                <td><%=p.shirtNo %></td>
                <td></td>
                <td><%=p.matchesPlaye %></td>
                <td><%=p.totalRuns %></td>
                <td><%=p.totalWickets %></td>
                
              </tr>
        
            <% } %>


      </table>
   
</body>
</html>